<!--离线命令词识别-->
<launch>
  <rosparam command="load" file="$(find xf_mic_asr_offline)/config/mic_offline_params.yaml" />
  
  <node pkg="xf_mic_asr_offline" type="xf_asr_offline_node" name="xf_asr_offline_node" output="screen">
    <param name="source_path" type="string" value="$(find xf_mic_asr_offline)"/>
  </node>

  <node pkg="xf_mic_asr_offline" type="call_recognition" name="call_recognition" output="screen" />

  
</launch>
